body {
    display: flex;
    align-content: center;
    flex-direction: column;
    background: #DCD6FA;

    min-height: 100%;
    max-height: 100%;
    min-width: 100%;
    max-width: 100%;

    overflow: hidden;
}

.album_info {
	display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: 50vh;
    text-align: left;

    width: 50vw;

    margin-bottom: 50px;
    margin: 0 auto;
    overflow: hidden;
}

.album_img {
    height: 80%;
    width: 50%;
    margin: 0;
}

.group_info {
	display: inline-block;
    margin: 0px 50px 0px;
}

.group_name {
    font-size: 32px;
    font-weight: 400;
    color: grey;
}

.album_name {
    font-size: 44px;
    font-weight: 600;
}

.tracks_number {
    margin: 130px 0px 0px;
}

.album_tracks {
    display: flex;
    flex-direction: column;
    width: 60vw;

    height: 50vh;

    margin: 0 auto;
    overflow: hidden;
}

.track_list {
    list-style-position: inside;
    column-count: 2;
    column-width: 20vw;
    list-style-type: decimal;
    height: 50vh;
    width: 60vw;

    counter-reset: myCounter;
}

.track {
    list-style: none;
    font-size: 18px;
    font-weight: 600;
}

.track:before {
    counter-increment: myCounter;
    content: counter(myCounter);
    display: inline-block;
    border: 2px solid purple;
    text-align: center;
    padding: 10px;
    width: 30px;
    height: 30px;

    margin: 5px 10px;
    color: purple;
    border-radius: 30px;

}

.note {
    max-height: 5%;
    max-width: 5%;
    display: inline-block;
    fill: purple;
    bottom: 20px;
}